html {
  background-color: #dddddd;;
}

section {
  background-color: white;
  margin: 0 auto;
  margin-top: 100px;
  padding: 0 auto;
  border: 1px solid #d0d0d0;
  border-radius: 30px;
  width: 400px;
  box-shadow: 5px 5px 12px 0px #6a6969;
}

.heading {
  color: #ff1493;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 30px;
  border-left: 10px solid #ff1493;
}

.list {
  background-color: #efefef;
  padding: 30px;
  border-top: 2px solid gray;
  border-radius: 0 0px 30px 30px;
}

.list p {
  background-color: white;
  border: 4px solid #848080;
  padding: 10px;
  border-radius: 10px;
}

#selected {
  border: 4px solid #1e91ff;
  color: #1e91ff;
}